/* body,
html {
  height: 100%;
} */
/* .gambar {
  background-position: center;
  height: 720px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url(img/bgg.jpg);
} */

/* form {
  position: relative;
} */

/* img {
  height: 500px;
  width: 500px;
} */
/* table {
  background-color: rgb(166, 204, 172);
  background-image: url(/img/bgg.jpg);
} */
